@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  color: #e7e5e4;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

body {
  /* background: #09090b; */
  /* background: linear-gradient(0deg, rgba(28, 25, 23, 1) 0%, rgba(28, 25, 23, 1) 25%, rgba(28, 25, 23, 0) 68%); */
  background-image: url("./assets/images/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  background-position: top center;
}

section {
  background: rgb(9, 9, 11);
  background: linear-gradient(0deg, rgba(9, 9, 11, 1) 0%, rgba(9, 9, 11, 0.908000700280112) 50%, rgba(9, 9, 11, 0) 100%);
  margin: 0 1rem;
}