@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  color: #e7e5e4;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

body {
  /* background: #09090b; */
  /* background: linear-gradient(0deg, rgba(28, 25, 23, 1) 0%, rgba(28, 25, 23, 1) 25%, rgba(28, 25, 23, 0) 68%); */
  /* background-image: url("/assets/images/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat; */
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: static;
  background-position: top center;
}

section {
  background: rgb(9, 9, 11);
  background: linear-gradient(0deg, rgba(9, 9, 11, 1) 0%, rgba(9, 9, 11, 0.908000700280112) 50%, rgba(9, 9, 11, 0) 100%);
  margin: 0 1rem;
}

textarea {
  background: rgb(16, 22, 40);
  background: linear-gradient(180deg, rgba(16, 22, 40, 1) 19%, rgba(16, 22, 40, 0) 100%);
}

.contact {
  background: rgb(9, 9, 11);
  background: linear-gradient(180deg, rgba(9, 9, 11, 1) 0%, rgba(9, 9, 11, 0.14889705882352944) 100%);
}

.divContact {
  background: rgb(9, 9, 11);
  background: linear-gradient(180deg, rgba(9, 9, 11, 1) 0%, rgba(9, 9, 11, 0.14889705882352944) 100%);
}

.contact-head {
  background: rgb(54, 112, 218);
  background: radial-gradient(circle, rgba(54, 112, 218, 0.42620798319327735) 0%, rgba(54, 112, 218, 0) 100%);
  border-color: rgba(54, 111, 218, 0.432);
}

.JavaScript {
  background-color: #ffee32;
  border: 1px solid #ffee32;
  color: #202020;
}

.React {
  background-color: rgb(32, 32, 32);
  border: 1px solid #00d8d8;
  color: #00d8d8;
}

.Redux {
  border: 1px solid #6930c3;
  background-color: #6930c3;
  border: 1px solid #864fdf;
}

.Node {
  background: #e7e5e4;
  border: 1px solid #008000;
  color: #008000;
}

.Express {
  background: #e7e5e4;
  border: 1px solid #242424;
  color: #242424;
}

.MongoDB {
  background: #008000;
  border: 1px solid #e7e5e4;
}

.JWT {
  background: #242424;
  border: 1px solid #e7e5e4;
}

.Vite {
  background: #e7e5e4;
  color: #6930c3;
  border: 1px solid #864fdf
}

.slider .slide {
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: calc((70px * 28));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(-980px);
    -webkit-transform: translateX(-980px);
  }
}

/* #articleProjects{
  grid-auto-columns: calc(100% / 3);
} */